.home-page-wrapper {
    padding: 0 20px;
    box-sizing: border-box;

    .top-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        .create-blog {
            button {
                background-color: #40ac9f;
                color: white;
                padding: 10px 15px;
                border-radius: 10px;
                margin-top: 5px;
            }
        }

        .search {
            display: flex;

            input {
                border-radius: 10px 0 0 10px;
                padding: 10px 15px;
                width: 300px;
                margin: 0;
                box-sizing: border-box;
            }

            button {
                background-color: #40ac9f;
                font-size: 14px;
                color: white;
                padding: 0 20px;
                box-sizing: border-box;
                border-radius: 0 10px 10px 0;
                margin-top: 5px;
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pagination {
        display: flex;
        justify-content: center;

        button {
            background-color: #40ac9f;
            color: white;
            width: 100px;
            box-sizing: border-box;
        }
    }


}