.main-app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .main-wrapper {
        flex: 1;
        display: flex;

        .content-wrapper {
            flex: 1;
        }

        .aside-wrapper {
            width: 20%;
            background-color: beige;
        }
    }
}